@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');

:root {
    --white: #f4f3f4;
    --selection: #9e9e9e59;
    --cian: #00768db6;
    --brown: #8d0500b6;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--selection);
}

body {
    background-image: url('./assets/stopped.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    height: 100vh;
    text-align: center;
}

body.stopped {
    background-image: url('./assets/stopped.jpg');
}

body.started {
    background-image: url('./assets/started.jpg');
}

body.started h5 {
    color: var(--cian);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 100%;
}

h5 {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--brown);
}

p {
    font-size: 1.2rem;
    font-weight: 400;
}

span {
    font-size: 1rem;
    font-weight: 400;
}

button {
    cursor: pointer;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.2rem;
    color: var(--white);
    background: #ffffff40;
    box-shadow: 0 8px 32px 0 #5d5d5d5e;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid #ffffff2e;
    transition: all ease-in-out .25s;
}

button:hover,
button:active {
    background: #ffffff1a;
}